@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    height: 130vh;
    background-size: cover;
}

.card-elements {
    background-color: #ffffff;
    font-family: roboto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 35px;
    height: 80vh;
    text-align: left;
}

.card-elments-para1 {
    font-size: 12px;
    color: #7b8794;
}

.card-elments-head1 {
    color: #323f4b;
    font-size: 15px;
}

.card-elements-para {
    color: #7b8794;
    font-size: 10px;
}

.card-elements-button {
    background-color: #323f4b;
    color: #ffffff;
    border-radius: 8px;
    font-size: 10px;
    width: 95px;
    height: 35px;
}