@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.home-page-bg-container {
    background-color: #ffffff;
    height: 110vh;
    background-size: cover;
    font-family: Bree serif;
    text-align: center;
    padding: 15px;
}

.home-page-logo {
    height: 40vh;
    width: 70vw;
}

.home-page-heading {
    font-size: 20px;
    color: #183b56;
}

.home-page-para {
    font-size: 10px;
    color: #616e7c;
}

.home-page-sub-image {
    height: 20vh;
    width: 43vw;
    margin: 5px;
}

.bg-container {
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    height: 135vh;
    background-size: cover;
}

.card-elements {
    background-color: #ffffff;
    padding: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-elements-head {
    color: #5752ab;
    font-family: bree serif;
    font-size: 20px;
}

.card-elements-para {
    font-family: roboto;
    color: #323f4b;
    font-size: 13px;
}

.card-elements-button {
    border-color: #d7dfe9;
    border-radius: 10px;
    font-size: 10px;
}

.card-elements-button-clr1 {
    background-color: #ffffff;
    color: #171f46;
    margin-right: 20px;
}

.card-elements-button-clr2 {
    background-color: #5752ab;
    color: #ffffff;
}

.bg-container {
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    height: 130vh;
    background-size: cover;
}

.card-elements {
    background-color: #ffffff;
    font-family: roboto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 35px;
    height: 80vh;
    text-align: left;
}

.card-elments-para1 {
    font-size: 12px;
    color: #7b8794;
}

.card-elments-head1 {
    color: #323f4b;
    font-size: 15px;
}

.card-elements-para {
    color: #7b8794;
    font-size: 10px;
}

.card-elements-button {
    background-color: #323f4b;
    color: #ffffff;
    border-radius: 8px;
    font-size: 10px;
    width: 95px;
    height: 35px;
}

.background {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    height: 110vh;
    background-size: cover;
}

.heading {
    font-family: Bree Serif;
    font-size: 30px;
}

.button {
    font-family: roboto;
    width: 100px;
    font-size: 13px;
    font-weight: bold;
}

.paragraph {
    font-family: roboto;
    font-weight: bold;
}

.cntnr {
    background-color: #f6c56e;
    color: #323f4b;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 30vh;
    background-size: cover;
}

.diwali-top-section-heading {
    color: white;
    font-family: "Caveat";
    font-size: 36px;
    width: 200px;
    padding: 20px;
}

.diwali-bottom-section {
    text-align: center;
    background-color: #e6f6ff;
    padding: 15px;
}

.diwali-card-item {
    text-align: center;
    background-color: white;
    width: 140px;
    border-radius: 9px;
    padding: 16px;
    margin: 15px;
}

.diwali-card-image {
    height: 64px;
    width: 64px;
}

.diwali-card-name {
    color: #616e7c;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: normal;
}

.diwali-card-price {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}